// 颜色定义
$color-background = #ffffff
$color-background-black = #222
$background-color-header = #DE156A
$color-background-d = rgba(0,0,0,0.3)
$color-background-full = rgba(128,128,128,0.9)
$color-highlight-background = #333333
$color-dialog-background = #666666
$color-theme = #DE156A
$color-theme-d = rgba(255,205,49,0.5)
$color-sub-theme = #d93f30
$color-text = #ffffff
$color-text-d = rgba(255,255,255,0.3)
$color-text-l = rgba(0,0,0,0.9)
$color-text-dot = rgba(255,255,255,0.6)
$color-text-ll = rgba(255,255,255,0.8)
$color-text-black = rgba(40,42,54,0.8)
$color-text-dissname = rgba(153,153,153,1)
$color-list-shortcut = rgba(222,21,106,0.8)
$color-icon-white = rgba(255,255,255,0.5)
// 字体大小定义
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px